<!-- <p id="notice"><%= notice %></p> -->
<%= render @cart %>
<!-- <div class="page-header">
	<h1>Your Depot Cart</h1>
</div>
<%= button_to "empty cart", @cart, method: :delete, class: "pull-right btn btn-danger empty_cart", data: { confirm: "Are you sure?" } %>

<div class="table-responsive">
	<table class="table table-striped mycart">
		<%= render @cart.line_items %>
		<tr>
			<td>Total:</td>
			<td><%= number_to_currency @cart.total_price %></td>
		</tr>
	</table>
</div> -->
