<h1>My Catalog</h1>
<% cache ['store', Product.latest] do %>
	<ul class="catalog">
		<% @products.each do |product| %>
			<% cache ['entry', product] do%>
				<li class="row">
					<div class="col-md-2">
						<%= image_tag product.image_url, size: "150x150" , class: "img-responsive" %>
					</div>
					<div class="col-md-10 ">
						<h2><%= product.name %></h2>
						<p><%= sanitize product.description %></p> <br>
						<span class="currency">
							 <%= number_to_currency(product.price) %>
						</span>
							<%= button_to "add to cart", line_items_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
<% if session[:counter] >= 5 %>
	<div class="funfact well">you have visited this page <%= pluralize(session[:counter],"time") %></div>
<% end %>
<%#= debug session[:counter] %>