<!DOCTYPE html>
<html>
<head>
  <title>DepotBay Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "DepotBay", store_path, class: "navbar-brand" %>
    </div>
	<p class="navbar-text">Online Marketplace, for individuals and businesses to come together to 
buy and sell</p>
<a id="menu-toggle" class="btn btn-default"><i class="fa fa-bars"></i></a>
    
  </div><!-- /.container-fluid -->
</nav>
<div id="wrapper" >
  <div id="sidebar-wrapper">
              <% if @cart %>
                <%= hidden_div_if(@cart.line_items.empty?, class: 'cart') do %>
                    <%= render @cart %> 
                <% end %>
              <% end %>
              <ul class="sidebar-nav">
                  <li> <a href="<%= store_path %>"><i class="fa fa-home"></i> Home</a> </li>
                  <li> <a href=""><i class="fa fa-question-circle"></i> Questions</a> </li>
                  <li> <a href=""><i class="fa fa-calendar"></i> News</a></li>
                  <li> <a href=""><i class="fa fa-mobile"></i> Contact</a></li>
              </ul>
              <p class="col-xs-12"><i class="fa fa-clock-o"></i> <%= Time.now.strftime("%d-%b-%Y") %> <br>
    <%= Time.now.strftime("%R") %> hrs</p>
          </div>



  <div  id="page-content-wrapper">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
          <%= value %>  
      </div>
    <% end %>
  	<%= yield %>
    <%= debug params if Rails.env.development? %>
  </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>

</body>
</html>
